body{
    background-color: black;
    color: white;
}
.entra{
    border-style: solid;
    border-radius: 15px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.oque{
    border-style: solid;
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 60%;
}